.app-navigation__list {
	position: relative;
	left: -15px;
	margin: 0;
	margin-right: 0px;
	margin-left: 0px;
	padding: 0;
	list-style: none;
}

.app-navigation__list-item {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	position: relative;
	height: 50px;
	padding: 0 15px;
	float: left;
	line-height: 50px;
	margin-bottom: 0;
}

.app-navigation__link {
	font-weight: 700;
}

.govuk-link--no-underline:not(:hover):not(:active) {
	text-decoration: none;
}

.app-navigation {
	-moz-osx-font-smoothing: grayscale;
	font-weight: 700;
}

.app-mobile-nav {
	display:none;
	border-bottom:1px solid #b1b4b6
}

.app-mobile-nav--active {
	display:block
}

.app-mobile-nav__list {
	margin: 0;
	padding: 0;
	list-style:none;
}

.app-mobile-nav-subnav-toggler {
	position:relative;
	padding:16px 20px 17px 20px;
	background-color:#f8f8f8
}

.app-mobile-nav-subnav-toggler__link,
.app-mobile-nav-subnav__link-heading {
	font-weight:700;
	font-size:19px;
	font-size:1.1875rem;
	color: $govuk-link-colour;
}

.app-mobile-nav-subnav-toggler__link:not(:focus):hover,
.app-mobile-nav-subnav__link-heading:not(:focus):hover {
	color:#1d70b8
}

.app-mobile-nav-subnav-toggler__link:after,
.app-mobile-nav__link:after {
	content:"";
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0
}

.app-mobile-nav-subnav__link-heading {
	display:inline-block;
	margin:0
}

.app-mobile-nav__subnav {
	display: none;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px solid #f3f2f1;
	border-bottom: 1px solid #f3f2f1
}

.js-enabled .app-mobile-nav__subnav--active {
	display: block;
}

.app-mobile-nav__subnav-item {
	display:block;
	position:relative;
	padding: 12px 20px;
}

.app-mobile-nav__subnav-item.menu-menu-level-0 {
	padding: 12px 0;
}

.app-mobile-nav__subnav-item--current {
	padding-left:16px;
	border-left:4px solid #1d70b8
}

.app-mobile-nav__theme {
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	margin: 0;
	padding: 20px 20px 15px 20px;
	color: #505a5f;
	font-size: 19px;
	font-size: 1.1875rem;
	font-weight: normal;
}

.app-navigation {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 700;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.25;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	background-color: #f8f8f8;
}


.app-pane__subnav {
	width: 260px;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
}

.app-subnav {
	margin-bottom: 100px;
	padding: 30px 15px 0 0;
}

.app-subnav__section {
	margin: 0 0 20px;
	padding: 0;
	list-style-type: none;
}

.app-subnav__theme {
	margin: 0;
	padding: 10px 15px 0 0;
	color: #505a5f;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 400;
	font-size: 19px;
	font-size: 1.1875rem;
	line-height: 1.31579;
}

.app-mobile-nav__subnav-item , .menu-menu-level-1 {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: normal;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.14286;
}

.app-subnav__section .menu-menu-level-0 {
	display: none;
}

.app-subnav__section .menu-menu-level-0.app-subnav__section--current {
	display: inline-block;
}

.app-subnav__section .menu-menu-level-0.app-subnav__section--current a {
	display: none;
}

.app-subnav__section .menu-menu-level-0.app-subnav__section--current ul li a {
	display: inline;
}

@include govuk-media-query ($from: desktop) {
	.app-navigation {
		font-size: 19px;
		font-size: 1.1875rem;
		line-height: 1.31579;
	}
}

@include govuk-media-query ($from: tablet) {
	.app-header-mobile-nav-toggler-wrapper {
		display: none;
	}
	.app-navigation__list-item--current {
		border-bottom: 4px solid #1d70b8;
	}

	.hide-on-desktop {
		display: none;
	}
}

@include govuk-media-query($until: tablet) {
	.app-navigation {
		display: none;
	}

	.app-header-mobile-nav-toggler-wrapper {
		display: block;
		float: right;
	}
	.app-header-mobile-nav-toggler::after {
		display: inline-block;
		width: 0;
		height: 0;
		border-style: solid;
		border-color: transparent;
			border-top-color: transparent;
		-webkit-clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
		clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
		border-width: 8.66px 5px 0 5px;
		border-top-color: inherit;
		content: "";
		margin-left: 5px;
		border-top-color: currentColor;
	}

	.js-enabled .app-header-mobile-nav-toggler {
		display: inline;
		height: 40px;
		width: 70px;

	}
	.js-enabled #app-mobile-nav-toggler {
		background-color: #000000;
	}

	.js-enabled #app-mobile-nav-toggler:focus,
	.js-enabled #app-mobile-nav-toggler:active {
		background-color: #fd0;
	}

	.app-navigation__list-item {
		height: auto;
		float: none;
	}
	.app-navigation__list-item--current ul {
		display: block;
	}

	.menu-menu-level-0 {
		clear: both;
	}
	.menu-item-has-children ul {
		clear: both;
	}
}
