.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
}

.custom-logo {
	max-width: 80px;
}

.govuk-header__logo {
	display: flex;
	flex-wrap: wrap;
}

.site-title a,
.site-title a:link,
.site-title a:visited {
	color: #ffffff;
	text-decoration: none;
}
.site-title a:hover {
	text-decoration: underline;
}
