.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
}

.site-logo {
	max-width: 80px;
}

.link-header-home {
	display: flex;
	justify-content: left;
	align-items: center;
}

.link-header-home,
.link-header-home:link,
.link-header-home:visited {
	color: #ffffff;
	text-decoration: none;
}

.link-header-home:hover {
	text-decoration: underline;
}

.link-header-home:active, .link-header-home:focus {
	color: $govuk-link-active-colour;
}

.site-title {
	font-family: "GDS Transport",arial,sans-serif;
	-webkit-font-smoothing: antialiased;
	font-weight: 700;
	font-size: 30px;
	line-height: 1;
	margin: 0;
}
