.app-pane__body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	min-height: 0;
	overflow: inherit;
}

.app-pane__subnav {
	width: 210px;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
}

.app-pane__content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	min-width: 0;
	-webkit-box-flex: 1;
	-ms-flex: 1 1 100%;
	flex: 1 1 100%;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.app-content {
	padding: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
	padding-right: 0;
	padding-bottom: 50px;
}

.app-width-container {
	margin-right: max(15px, calc(15px + env(safe-area-inset-right)));
	margin-left: max(15px, calc(15px + env(safe-area-inset-left)));
}

@include govuk-media-query($until: tablet) {
	.app-pane__subnav {
		display: none;
	}
	.app-content {
		padding: 0 15px;
	}
}

.custom-logo-link {
	display: inline-block;
}

.govuk-header__logotype {
	display: inline-block;
	margin-right: 0;
}

.govuk-header__product-name {
	font-size: 24px;
	font-size: 1.5rem;
	line-height: 1;
}

.saltato-logo {
	position: relative;
	top: -1px;
	margin-right: 1px;
	fill: currentColor;
	vertical-align: top;
	height: 32px;
	width: auto;
}

.saltato-logo-fallback-image {
	width: 32px;
	height: 32px;
	border: 0;
	vertical-align: bottom;
}

.link-header-home,
.link-header-home:link,
.link-header-home:visited {
	font-weight: 700;
	color: #ffffff;
	text-decoration: none;
}

.link-header-home:hover {
	text-decoration: underline;
}

.link-header-home:active, .link-header-home:focus {
	color: $govuk-link-active-colour;
}

.govuk-header__link--homepage {
	font-weight: 700;
	display: inline-block;
	margin-right: 10px;
	font-size: 30px;
	line-height: 1;
}

.site-title {
	display: inline-block;
	font-weight: 700;
	font-size: 30px;
	line-height: 1;
	margin: 0;
}

@include govuk-media-query ($from: desktop) {

	.app-site-search {
		margin: 0;
		margin-top: 0px;
		margin-top: -5px;
		float: right;
	}

}

.app-width-container {
	max-width: 1100px;
}

@include govuk-media-query($until: tablet) {
	.app-site-search {
		position: relative;
		width: 100%;
		max-width: calc(100% - 80px);
		margin-top: 10px;
		margin-bottom: 10px;
		float: left;
	}

	.app-width-container {
		margin-right: max(15px, calc(15px + env(safe-area-inset-right)));
		margin-left: max(15px, calc(15px + env(safe-area-inset-left)));
	}

}

@include govuk-media-query($from: tablet) {
	.app-header .app-width-container,
	.app-navigation .app-width-container,
	.app-masthead .app-width-container,
	.app-width-container {
		margin-right: auto;
		margin-left: auto;
	}



}

.home .govuk-header__container {
	border-bottom: none;
	margin-bottom: 0;
	padding: 10px 0 0 0;
}

.app-masthead {
	padding-top: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #1d70b8;
	color: #fff;
	background-color: #1d70b8;
}

.app-masthead__title {
	color: #fff;
	margin-bottom: 30px;
}

.app-button--inverted, .app-button--inverted:link, .app-button--inverted:visited {
	color: #1d70b8;
	background-color: #fff;
	-webkit-box-shadow: 0 2px 0 #144e81;
	box-shadow: 0 2px 0 #144e81;
}

.app-button--inverted:hover {
	color: #1d70b8;
	background-color: #e8f1f8;
}

.app-header {
	border-bottom: 10px solid #1d70b8;
}

.app-masthead__image {
	display:none
}

@include govuk-media-query($from: tablet) {
	.app-masthead__image {
		display:block;
		width: 100%;
		margin-top: 15px;
	}
}

.app-mobile-nav {
	display: none;
	border-bottom: 1px solid #b1b4b6
}

.app-mobile-nav--active {
	display: block;
}

@media (min-width: 40.0625em) {
	.app-mobile-nav--active {
	display: none;
	}
}

@media (max-width: 40.0525em) {
	.no-js .app-mobile-nav {
		display: block;
	}
}

.app-header-mobile-nav-toggler-wrapper {
	display:block;
	float:right
}

.app-header-mobile-nav-toggler {
	display:none;
	min-height:40px;
	margin-top:10px;
	margin-bottom:10px;
	padding-right:5px;
	padding-left:5px;
	border:1px solid transparent;
	-webkit-box-shadow:none;
	box-shadow: none;
}

.app-header-mobile-nav-toggler,
.app-header-mobile-nav-toggler:hover {
	background-color:transparent
}

.app-header-mobile-nav-toggler::after {
	display:inline-block;
	width:0;
	height:0;
	border-style:solid;
	border-color:transparent;
	-webkit-clip-path:polygon(0% 0%, 50% 100%, 100% 0%);
	clip-path:polygon(0% 0%, 50% 100%, 100% 0%);
	border-width:8.66px 5px 0 5px;
	border-top-color:inherit;
	content:"";
	margin-left:5px;
	border-top-color:currentColor
}

.app-header-mobile-nav-toggler--active::after {
	display:inline-block;
	width:0;
	height:0;
	border-style:solid;
	border-color:transparent;
	-webkit-clip-path:polygon(50% 0%, 0% 100%, 100% 100%);
	clip-path:polygon(50% 0%, 0% 100%, 100% 100%);
	border-width:0 5px 8.66px 5px;
	border-bottom-color:inherit;
	border-bottom-color:currentColor
}

@include govuk-media-query($until: tablet) {
	.js-enabled .app-header-mobile-nav-toggler {
		display: inline;
		width: 75px;
	}
}

