$columns: (
	1: 100%,
	2: 50%,
	3: 33.33%,
	4: 25%,
	5: 20%,
	6: 16.66%,
	7: 14.28%,
	8: 12.5%,
	9: 11.11%
);

$columns__margin: 3.8%;
$spacingSmall:    5px;

// Default 940px grid
// -------------------------

$gutter:                  30px;
$gutterHalf:              15px;
$gridColumns:             12;
$gridColumnWidth:         62px;
$gridGutterWidth:         20px;
$gridRowWidth:            ($gridColumns * $gridColumnWidth) + ($gridGutterWidth * ($gridColumns - 1));

$govuk-use-legacy-palette: false;
$mobile: 370px;
$tablet: 768px;
$desktop: 980px;
$govuk-breakpoints: (
	mobile:  $mobile,
	tablet:  $tablet,
	desktop: $desktop
);
