$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
$font__pre: $govuk-font-family;
$font__code: $govuk-font-family;

body {
	font-weight: 400;
	text-transform: none;
	color: $color__text-screen;
	@include govuk-font(19);
}

//extend
ul {
	@extend %govuk-list;
	@extend %govuk-list--bullet;
	@include govuk-font(19);
}
ol {
	@extend %govuk-list;
	@extend %govuk-list--number;
	@include govuk-font(19);
}
table {
	@extend %govuk-body-m;
	@include govuk-font(19);
}

ul {
//pagination
	&.list-inline {
		list-style-type: none;
		padding-left: 0;
		li {
			display: inline-block;
		}
	}
}
ul.children {
	margin-top: 0;
}
