.app-width-container {
	margin-right: auto;
	margin-left: auto;
	max-width: 1100px;
}

.home .govuk-header__container {
	border-bottom: none;
	margin-bottom: 0;
	padding: 10px 0 0 0;
}

.app-masthead {
	padding-top: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #1d70b8;
	color: #fff;
	background-color: #1d70b8;
}

.app-masthead__title {
	color: #fff;
	margin-bottom: 30px;
}

.app-button--inverted, .app-button--inverted:link, .app-button--inverted:visited {
	color: #1d70b8;
	background-color: #fff;
	-webkit-box-shadow: 0 2px 0 #144e81;
	box-shadow: 0 2px 0 #144e81;
}

.app-button--inverted:hover {
	color: #1d70b8;
	background-color: #e8f1f8;
}

.app-header {
	border-bottom: 10px solid #1d70b8;
}
