.home .govuk-header {
	border-bottom: none;
}

.home .govuk-header__container {
	border-bottom: none;
	margin-bottom: 0;
	padding-bottom: 0;
}

.app-masthead {
	padding-top: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #1d70b8;
	color: #fff;
	background-color: #1d70b8;
}

.app-masthead__title {
	color: #fff;
	margin-bottom: 30px;
}
